<div class="card mb-6 post">
  <div class="row no-gutters">
    <div class="col-md-2 ">
      <div class="card-profile">
        <!-- src="https://vignette.wikia.nocookie.net/leagueoflegends/images/5/5f/Teemo_OriginalCentered.jpg/revision/latest/scale-to-width-down/340?cb=20180414203624" -->
        <img
          src= "{{environment}}/api/image/{{userLogged.url}}"
          class="card-img-top" alt="Imagen de perfil">
        <div class="card-body">
          <h5 class="card-title"><a href="#" class="card-link">{{userLogged.username}} </a> <br></h5>
          <h6 class="card-subtitle mb-2 text-muted">Post id {{randomNumber}}  </h6>
          Rango 
          <img *ngIf="userLogged.level==1" src="../../../../assets/images/base-icons/bronze.png" alt="imagen de rango" width="40%">     <br *ngIf="userLogged.level==1">
          <img *ngIf="userLogged.level==2" src="../../../../assets/images/base-icons/silver.png" alt="imagen de rango" width="40%">     <br *ngIf="userLogged.level==2">
          <img *ngIf="userLogged.level==3" src="../../../../assets/images/base-icons/gold.png" alt="imagen de rango" width="40%">       <br *ngIf="userLogged.level==3">
          <img *ngIf="userLogged.level==4" src="../../../../assets/images/base-icons/platinum.png" alt="imagen de rango" width="40%">   <br *ngIf="userLogged.level==4">
          <img *ngIf="userLogged.level==5" src="../../../../assets/images/base-icons/diamond.png" alt="imagen de rango" width="40%">    <br *ngIf="userLogged.level==5">
          Post
          <img *ngIf="userLogged.posts==1" src="../../../../assets/images/ranked-emblems/Emblem_Bronze.png" alt="imagen de rango" width="40%">    <br *ngIf="userLogged.posts==1">
          <img *ngIf="userLogged.posts==2" src="../../../../assets/images/ranked-emblems/Emblem_Silver.png" alt="imagen de rango" width="40%">    <br *ngIf="userLogged.posts==2">
          <img *ngIf="userLogged.posts==3" src="../../../../assets/images/ranked-emblems/Emblem_Gold.png" alt="imagen de rango" width="40%">      <br *ngIf="userLogged.posts==3">
          <img *ngIf="userLogged.posts==4" src="../../../../assets/images/ranked-emblems/Emblem_Platinum.png" alt="imagen de rango" width="40%">  <br *ngIf="userLogged.posts==4">
          <img *ngIf="userLogged.posts==5" src="../../../../assets/images/ranked-emblems/Emblem_Diamond.png" alt="imagen de rango" width="40%">   <br *ngIf="userLogged.posts==5">
        </div>
      </div>
    </div>
    <div class="col-md-9">


      <form #f="ngForm" (ngSubmit)="createPost(f)">

        <div class="card-body">
          <input type="text" [(ngModel)]="post.title" name="title"  size="100" placeholder="Ingresa el titulo da la publicacion">
          <div [hidden]="post.title.length > 5" class="alert alert-danger">Se necesita un titulo mayor a 5 caracteres</div>
          <h5 class="card-title"></h5>
          <div *ngIf="isDone==true" class="alert alert-primary">
            <h2>Se redireccionara en unos momentos a su post...</h2>
          </div>
          <!-- ============================ -->
          <!-- <div id="content" [froalaEditor]>Escribe tu publicacion utilizando HTML!</div> -->
          <div [froalaEditor] [(froalaModel)]="post.content"></div>
          <!-- ============================== -->
          <p>Agrega los tags para tu publicacion: <br>
            <label for="fan-art"> <span class="btn btn-danger text-white">fan-art </span></label>
            <input type="checkbox" [(ngModel)]='post.tags[1]' value='1' name="tag" id="fan-art" class="btn btn-danger text-white">

            <label for="Campeon"> <span class="btn btn-warning text-white">Campeon </span></label>
            <input type="checkbox"  id="Campeon" [(ngModel)]='post.tags["2"]' value='2' name="tag" class="btn btn-warning text-white" role="button">

            <label for="BuscarAmigos"> <span class="btn btn-primary text-white">Buscar Amigos </span></label>
            <input type="checkbox"  id="BuscarAmigos" [(ngModel)]='post.tags["3"]' value='3' name="tag" role="button">

            <label for="Discusión"> <span class="btn btn-success text-white">Discusión</span></label>
            <input type="checkbox" id="Discusión" [(ngModel)]='post.tags["4"]' value='4' name="tag"role="button">

            <label for="Bugs"> <span class="btn btn-secondary text-white">Bugs </span></label>
            <input type="checkbox"  id="Bugs" [(ngModel)]='post.tags["5"]' value="5" name="tag" role="button">
          </p>
        </div>
        <div class="card-footer text-muted text-right">
            <a name="" id="" class="btn btn-secondary text-white" type="submit" (click)="validar()" role="button">Crear post </a>
          </div>
      </form>

      
    </div>
  </div>
</div>
