<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #0f4c75;">
  <a class="navbar-brand" href="./home">Home</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="./createPost.html">Crear publicacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Menu 2</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Lista</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#modalLogin" data-toggle="modal" data-target="#modalLogin">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#modalRegister" data-toggle="modal" data-target="#modalRegister">Registrarse</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Opciones</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="./perfil.html">Cuenta</a>
            <a class="dropdown-item" href="#">Salir</a>
          </div>
        </li>
      </ul>
    </form>
  </div>
</nav>

<!-- Log in -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Iniciar sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="form-group">
            <label for="">Correo:</label>
            <input type="email" class="form-control" name="" id="1" placeholder="" required>
            <label for="">Contraseña:</label>
            <input type="password" class="form-control" name="" id="2" placeholder="" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Sign in -->
<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrar nueva cuenta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="form-group">
            <label for="">Nombre:</label>
            <input type="text" class="form-control" name="" id="3" placeholder="" required>
            <label for="">Apellido:</label>
            <input type="text" class="form-control" name="" id="4" placeholder="" required>
            <label for="">Correo:</label>
            <input type="email" class="form-control" name="" id="5" placeholder="" required>
            <label for="">Contraseña:</label>
            <input type="password" class="form-control" name="" id="6" placeholder="" required>
            <label for="">Usuario de LOL:</label>
            <input type="text" class="form-control" name="" id="6" placeholder="" required>
            <div class="form-group">
              <label for="">Seleccione la región</label>
              <select class="form-control" name="" id="">
                <option>NA</option>
                <option>LA1</option>
                <option>LA2</option>
                <option>EU</option>
                <option>JP</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>