<!-- =================================================== -->
<!-- Cuando este el servicio de usuarios -->
<!-- =================================================== -->

<div *ngFor="let post of postDetail">
<div class="card mb-6 post">
  <div class="row no-gutters">
    <div class="col-md-2 ">
      <div class="card-profile">
        <div *ngFor="let user of allUsers">
        <img *ngIf=" user.email == post.userEmail" src= "{{environment}}/api/image/{{user.urlImage}}" class="card-img-top" alt="Imagen de perfil">
        </div>
        <div class="card-body">
          <div *ngFor="let user of allUsers">
          <h5 *ngIf=" user.email == post.userEmail" class="card-title"> <a href="/user?username={{user.username}}" class="card-link"> {{post.userEmail}} </a> <br></h5>
        </div>
          <h6 class="card-subtitle mb-2 text-muted">Post # {{post.idPost}} </h6>
        
          Rango 
          <div *ngFor="let user of allUsers">
          <img *ngIf="user.level <=1 && user.email == post.userEmail" src="../../../../assets/images/base-icons/bronze.png" alt="imagen de rango" width="40%">     <br *ngIf="user.level <=1 && user.email == post.userEmail">
          <img *ngIf="user.level ==2 && user.email == post.userEmail" src="../../../../assets/images/base-icons/silver.png" alt="imagen de rango" width="40%">     <br *ngIf="user.level ==2 && user.email == post.userEmail">
          <img *ngIf="user.level ==3 && user.email == post.userEmail" src="../../../../assets/images/base-icons/gold.png" alt="imagen de rango" width="40%">       <br *ngIf="user.level ==3 && user.email == post.userEmail">
          <img *ngIf="user.level ==4 && user.email == post.userEmail" src="../../../../assets/images/base-icons/platinum.png" alt="imagen de rango" width="40%">   <br *ngIf="user.level ==4 && user.email == post.userEmail">
          <img *ngIf="user.level ==5 && user.email == post.userEmail" src="../../../../assets/images/base-icons/diamond.png" alt="imagen de rango" width="40%">    <br *ngIf="user.level ==5 && user.email == post.userEmail">
        </div>
          Post
          <div *ngFor="let user of allUsers">
          <img *ngIf="user.posts.length <=1 && user.email == post.userEmail" src="../../../../assets/images/ranked-emblems/Emblem_Bronze.png" alt="imagen de rango" width="40%">    <br *ngIf="user.posts.length <=1 && user.email == post.userEmail">
          <img *ngIf="user.posts.length ==2 && user.email == post.userEmail" src="../../../../assets/images/ranked-emblems/Emblem_Silver.png" alt="imagen de rango" width="40%">    <br *ngIf="user.level.length ==2 && user.email == post.userEmail">
          <img *ngIf="user.posts.length ==3 && user.email == post.userEmail" src="../../../../assets/images/ranked-emblems/Emblem_Gold.png" alt="imagen de rango" width="40%">      <br *ngIf="user.level.length ==3 && user.email == post.userEmail">
          <img *ngIf="user.posts.length ==4 && user.email == post.userEmail" src="../../../../assets/images/ranked-emblems/Emblem_Platinum.png" alt="imagen de rango" width="40%">  <br *ngIf="user.level.length ==4 && user.email == post.userEmail">
          <img *ngIf="user.posts.length ==5 && user.email == post.userEmail" src="../../../../assets/images/ranked-emblems/Emblem_Diamond.png" alt="imagen de rango" width="40%">   <br *ngIf="user.level.length ==5 && user.email == post.userEmail">
        </div>
        </div>
      </div>
    </div>
    <!-- =================================================== -->
    <!-- Cuando este el servicio de usuarios -->
    <!-- =================================================== -->

    


      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title"> {{post.title }}</h5>
          <!-- <div class="card-text" [innerHTML]=post.content>   -->
          <div class="card-text" [innerHTML]=post.content>
          </div>
          <p class="card-text"><small class="text-muted"> {{post.postDate}} </small></p>
        </div>
        <div class="card-footer text-muted text-right">
          <!-- <a name="" id="" class="btn btn-secondary text-white" (click)="scroll(coment)" (click)="answerPost()" role="button">Responder</a> -->
          <button  *ngIf="isLoggedIn" class="btn btn-secondary text-white"  (click)="scroll(target)" (click)="answerPost()">Responder</button>
          <!-- <a name="" id="" class="btn btn-secondary text-white" (click)="comnetPost()"role="button">Comentar</a> -->
          <a *ngIf="isLoggedIn" name="" id="" class="btn btn-danger text-white" (click)="deletePost()" role="button">Eliminar</a>
        </div>
      </div>
    </div>
  </div>

<!-- =================================================================== -->
<!--  Respuestas del post-->
<!-- =================================================================== -->

<div *ngIf="isLoggedIn">
    
</div>

<div *ngIf="post.objtPost.length > 0">
  <div *ngFor="let postObj of post.objtPost">
    
    <div class="card mb-6 post">
        <div class="row no-gutters">
          <div class="col-md-2 ">
            <div class="card-profile">
              <div *ngFor="let user of allUsers">
              <img *ngIf=" user.email == postObj.userEmail" src= "{{environment}}/api/image/{{user.urlImage}}" class="card-img-top" alt="Imagen de perfil">
              </div>
              <div class="card-body">
                <div *ngFor="let user of allUsers">
                <h5 *ngIf=" user.email == postObj.userEmail" class="card-title"><a href="/user?username={{user.username}}" class="card-link"> {{postObj.userEmail}} </a> <br></h5>
              </div>
                <h6 class="card-subtitle mb-2 text-muted">Post # {{postObj.idPost}} </h6>
                Rango 
                <div *ngFor="let user of allUsers">
                <img *ngIf="user.level <=1 && user.email == postObj.userEmail" src="../../../../assets/images/base-icons/bronze.png" alt="imagen de rango" width="40%">     <br *ngIf="user.level <=1 && user.email == postObj.userEmail">
                <img *ngIf="user.level ==2 && user.email == postObj.userEmail" src="../../../../assets/images/base-icons/silver.png" alt="imagen de rango" width="40%">     <br *ngIf="user.level ==2 && user.email == postObj.userEmail">
                <img *ngIf="user.level ==3 && user.email == postObj.userEmail" src="../../../../assets/images/base-icons/gold.png" alt="imagen de rango" width="40%">       <br *ngIf="user.level ==3 && user.email == postObj.userEmail">
                <img *ngIf="user.level ==4 && user.email == postObj.userEmail" src="../../../../assets/images/base-icons/platinum.png" alt="imagen de rango" width="40%">   <br *ngIf="user.level ==4 && user.email == postObj.userEmail">
                <img *ngIf="user.level ==5 && user.email == postObj.userEmail" src="../../../../assets/images/base-icons/diamond.png" alt="imagen de rango" width="40%">    <br *ngIf="user.level ==5 && user.email == postObj.userEmail">
              </div>
                Post
                <div *ngFor="let user of allUsers">
                <img *ngIf="user.posts.length <=1 && user.email == postObj.userEmail" src="../../../../assets/images/ranked-emblems/Emblem_Bronze.png" alt="imagen de rango" width="40%">    <br *ngIf="user.posts.length <=1 && user.email == postObj.userEmail">
                <img *ngIf="user.posts.length ==2 && user.email == postObj.userEmail" src="../../../../assets/images/ranked-emblems/Emblem_Silver.png" alt="imagen de rango" width="40%">    <br *ngIf="user.level.length ==2 && user.email == postObj.userEmail">
                <img *ngIf="user.posts.length ==3 && user.email == postObj.userEmail" src="../../../../assets/images/ranked-emblems/Emblem_Gold.png" alt="imagen de rango" width="40%">      <br *ngIf="user.level.length ==3 && user.email == postObj.userEmail">
                <img *ngIf="user.posts.length ==4 && user.email == postObj.userEmail" src="../../../../assets/images/ranked-emblems/Emblem_Platinum.png" alt="imagen de rango" width="40%">  <br *ngIf="user.level.length ==4 && user.email == postObj.userEmail">
                <img *ngIf="user.posts.length ==5 && user.email == postObj.userEmail" src="../../../../assets/images/ranked-emblems/Emblem_Diamond.png" alt="imagen de rango" width="40%">   <br *ngIf="user.level.length ==5 && user.email == postObj.userEmail">
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">{{postObj.title}}</h5>
              <div class="card-text" [innerHTML]=postObj.content>
            </div>
      
            <p class="card-text"><small class="text-muted"> {{postObj.postDate}} </small></p>
            </div>
            <div class="card-footer text-muted text-right">
              <a name="" *ngIf="isLoggedIn" id="" class="btn btn-secondary text-white" (click)="scroll(target)" (click)="answerPost()"  role="button">Responder</a>
            </div>
          </div>
        </div>
      </div>
</div>
</div>

        <!-- =================================================== -->
        <!-- Comentarios -->
        <!-- =================================================== -->
        
        <div #target>        
<!-- <div *ngIf="activeComment == true" > -->
    <div *ngIf="activeComment == true">
    <div class="card mb-6 post">
        <div class="row no-gutters">
          <div class="col-md-2 ">
            <div class="card-profile">
              <img
                src= "{{environment}}/api/image/{{userLogged.url}}"
                class="card-img-top" alt="Imagen de perfil">
              <div class="card-body">
                <h5 class="card-title"><a href="#" class="card-link"> {{postComent.userEmail}} </a> <br></h5>
                <h6 class="card-subtitle mb-2 text-muted">Post #{{postComent.idPost}}</h6>
                <!-- Rango <img src="https://i.pinimg.com/originals/84/18/94/841894efbeea9776d2bf07a9d2946851.png" alt="imagen de rango" width="40%"> <br>
                Post<img src="https://opgg-static.akamaized.net/images/medals/bronze_1.png?image=q_auto&v=1" alt="imagen de rango" width="40%"> -->
              </div>
            </div>
          </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title" > {{post.title }}</h5>
                <!-- <div class="card-text" [innerHTML]=post.content>   -->
                    <div [froalaEditor] [(froalaModel)]="postComent.content">
                <!-- <div class="card-text" [innerHTML]=post.content> -->
                </div>
                <p class="card-text"><small class="text-muted"> {{postComent.postDate}} </small></p>
              </div>
              <div class="card-footer text-muted text-right">
                <a name="" id="" class="btn btn-secondary text-white" (click)="postPost()"role="button">Postear</a>
              </div>
            </div>
          </div>
</div>
<!-- =================================================================== -->
<!--  Fin de las respuestas del post-->
<!-- =================================================================== -->
</div>
</div>
