<div class="landingImage img-fluid  text-center ">
    <h5 class="card-title">.</h5>
    <h2 class="proyect_name my-5 ">Proyecto Teemo</h2>
        <input class="searchs" type="text" name="" placeholder="Buscar post... ">
    <a name="" id="" class="btn btn-dark " href="#" role="button">Buscar</a>
    <br>
</div>

<!-- 
<div id="sortTags" class="sort tags search">
    <div class="">
        <label for="sortBy">Ordenar por:</label>
        <select id="sortBy" class="round">
        <option value="nada"> selecciona ...</option>  
        <option value="mostComents">Mayor número de comentarios</option>
        <option value="leastComents">Menor número de comentarios</option>
        <option value="newestPost">Publicacion mas reciente</option>
        <option value="oldestPost">Publicacion mas antigüa</option>
        </select>
        <a name="" id="" class="btn btn-dark sort-btn" href="#" role="button">Buscar </a>

        <label for="tagsBy">Buscar por tags:</label>
        <select id="tagsBy" class="round">
        <option value="nada"> selecciona ...</option>    
        <option class="fan-art" value="fant-art"> Fan-Art</option>
        <option class="buscarAmigos" value="buscarAmigos">   Buscar amigos</option>
        <option class="discusion" value="discusion">Discusion</option>
        <option class="erroresDeJuego" value="bugs">Bugs</option>
        <option class="campeon" value="campeon">Campeón</option>
        </select>
        <a name="" id="" class="btn btn-dark sort-btn" href="#" role="button">Buscar </a>
    </div>
</div> -->

<router-outlet></router-outlet>