<div *ngFor="let chatMessage of chatMessages">
  <div class="incoming_msg" *ngIf="chatMessage.type == 'incoming'">
    <div class="incoming_msg_img"> <img src="{{environment}}/api/image/{{chatMessage.userImage}}" alt="sunil" class="rounded-circle">
    </div>
    <div class="received_msg">
      <div class="received_withd_msg">
        <p>{{chatMessage.message}}</p>
        <span class="time_date"> {{chatMessage.date}}</span>
      </div>
    </div>
  </div>


  <div class="outgoing_msg" *ngIf="!(chatMessage.type == 'incoming')">
    <div class="sent_msg">
      <p>{{chatMessage.message}}</p>
      <span class="time_date"> {{chatMessage.date}}</span>
    </div>
  </div>
</div>


  
  