<div class="mybody">
  <div class="profile-container">
    <div class="profile-image-container mt-5">
      <img src="https://pm1.narvii.com/6372/a4f41d9998581bf4f00d3025a959a10d948eb587_hq.jpg"
        class="profile-image rounded-circle" alt="Profile image">
      <div class="profile-image-edit rounded-circle">
        <a href="#modalChangeImage" class="profile-image-edit-link" data-toggle="modal"
          data-target="#modalChangeImage"><i class="far fa-edit fa-2x"></i></a>
      </div>
    </div>
    <h1 class="text-center mt-1">Nombre completo (nickname league)</h1>
    <h3 class="text-center mt-1">Clasificación</h3>
    <h6 class="text-center mt-1">Rango en el foro</h6>
    <div class="center">
      <span class="mt-3">Correo: </span><span>eGasparArellano@gmail.com</span>
      <button type="button" class="btn"  data-toggle="modal"
        data-target="#modalChangeEmail">
        <i class="fas fa-edit"></i>
      </button>
      <br>
      <span class="">Contraseña: *******</span>
      <button type="button" class="btn" data-toggle="modal"
        data-target="#modalChangePassword">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col profile-container profile-historical-container">
        <h3 class="text-center">Historial de LOL</h3>
        <table class="table">
          <tr>
            <td class="match-victory">Victoria</td>
            <td>13/0/20 <br>
              KDA: 13
            </td>
            <td>
              <table class="">
                <tr>
                  <th>Aliados</th>
                  <th>Enemigos</th>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>

              </table>
            </td>
          </tr>
          <tr>
            <td class="match-loss">Derrota</td>
            <td>13/0/20 <br>
              KDA: 13
            </td>
            <td>
              <table class="">
                <tr>
                  <th>Aliados</th>
                  <th>Enemigos</th>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>

              </table>
            </td>
          </tr>
          <tr>
            <td class="match-victory">Victoria</td>
            <td>13/0/20 <br>
              KDA: 13
            </td>
            <td>
              <table class="">
                <tr>
                  <th>Aliados</th>
                  <th>Enemigos</th>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>
                <tr>
                  <td>Nombre Aliado</td>
                  <td>Nombre Enemigo</td>
                </tr>

              </table>
            </td>
          </tr>
        </table>
      </div>
      <div class="col profile-container profile-historical-container">
        <h3 class="text-center">Actividad en el foro</h3>
        <table class="table">
          <tr>
            <td>
              <strong>Hola, alguien sabe cómo lanzar el ulti? he perdido muchas partidas</strong>
            </td>
            <td>3 respuestas</td>
            <td>
              <a href="./EliminatePost.html">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Cómo activo el flash?</strong>
            </td>
            <td>1 respuestas</td>
            <td>
              <a href="./EliminatePost.html">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Qué les parece mi nuevo fanart de Teemo? Se escuchan comentarios</strong>
            </td>
            <td>11 respuestas</td>
            <td>
              <a href="./EliminatePost.html">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Reglas del foro</strong>
            </td>
            <td>25 respuestas</td>
            <td>
              <a href="./EliminatePost.html">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Castigos para los flammer</strong>
            </td>
            <td>39 respuestas</td>
            <td>
              <a href="./EliminatePost.html">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Le dí mi contraseña a un vagabundo</strong>
            </td>
            <td>44 respuestas</td>
            <td>
              <a href="./EliminatePost.html">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Cómo actualizo mi foto de perfil?</strong>
            </td>
            <td>3 respuestas</td>
            <td>
              <a href="./EliminatePost.html">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Cambiar imagen de perfil -->
  <div class="modal fade" id="modalChangeImage" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cambiar imagen de perfil</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="">
          <div class="modal-body">
            <div class="form-group">
              <label for="">Seleccione una imagen:</label>
              <input type="file" class="form-control" name="" id="ab" placeholder="" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="fixImage()">Cerrar</button>
            <button type="submit" class="btn btn-primary">Cambiar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Cambiar correo -->
  <div class="modal fade" id="modalChangeEmail" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cambiar correo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="">
          <div class="modal-body">
            <div class="form-group">
              <label for="">Nuevo correo:</label>
              <input type="email" class="form-control" name="" id="z" placeholder="" required>
              <label for="">Confirme correo:</label>
              <input type="email" class="form-control" name="" id="y" placeholder="" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Cambiar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Cambiar contraseña -->
  <div class="modal fade" id="modalChangePassword" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cambiar contaseña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="">
          <div class="modal-body">
            <div class="form-group">
              <label for="">Contraseña anterior:</label>
              <input type="password" class="form-control" name="" id="a" placeholder="" required>
              <label for="">Nueva contraseña:</label>
              <input type="password" class="form-control" name="" id="b" placeholder="" required>
              <label for="">Confirme contraseña:</label>
              <input type="password" class="form-control" name="" id="c" placeholder="" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Cambiar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>