<form #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
  <div class="form-group">
    <label for="">Correo:</label>
    <input id="email" type="email" class="form-control" name="email" ngModel required>
    <label for="">Contraseña:</label>
    <input id="password" type="password" class="form-control" name="password" ngModel required>
  </div>
  <a class="btn btn-success" href="{{environment}}/api/auth/google/login" role="button"><i class="fab fa-google"></i> Entrar con Google</a>
  <button type="submit" class="btn btn-primary float-right">Iniciar sesión</button>
</form>